.products-detail{
    width: 1300px;
    height: 800px;
    box-shadow: 0 0 13px rgb(0, 0, 0);
   margin: 42px auto;
   display: grid;
   grid-template-columns: 40% 60%;
}
.section-1{
    /* background-color: black; */
    padding: 27px;
}
.section-1 img{
    border-radius: 0%;
}
/* .section-2{
    display: grid;
    grid-template-rows: 20% 20% 50% 10%;
    font-size: 18px;
} */
.section-2 > div:nth-child(1){
    /* background-color: aquamarine; */
    padding: 55px 12px 10px 30px;
}
.section-2 > div:nth-child(2){
    /* background-color: blue; */
    padding: 55px 12px 10px 30px;
}
.section-2 > div:nth-child(3){
    /* background-color: burlywood; */
    padding: 55px 12px 10px 30px;
}
.section-2 > div:nth-child(4){
    background-color: rebeccapurple;
    padding: 55px 12px 10px 30px;
}

.twocolumns{
    display: grid;
    grid-template-columns: 50% 50%;
    
    padding: 19px;
}
#go{
    background-color: rgb(0, 0, 0);
    color: azure;
    padding: 10px 47px ;
    margin: 11px 18px;
    font-weight: 19px;
    /* border-radius: 16px; */
}
#go:hover{
    border-radius: 16px;
    background-color: darkred;
    color: azure;
}
#add{
    background-color: green;
    color: azure;
    padding: 10px 37px ;
    margin: 11px 18px;
    font-weight: 19px;
    /* border-radius: 16px; */
}
#add:hover{
    border-radius: 16px;
    background-color: blue;
    color: azure;
}
